body{
    background: #111;
    margin: 0;
}

h2{
    color:fff;
    position: relative;
    margin-top: 200px;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 4em
    font-family: Mountains of christmas ;
    text-shadow: 0px opx 8px rgba(255,65,185,1);

    background: chartreuse;
}

#wire{
    text-align: center;
    white-space: nowrap;
    position: abslute;
    padding: 0;
    width: 100;